---
layout: page
title: 标签
permalink: /tags/
---

{% assign tags = site.posts | map: "tags" | join: "," | split: "," | uniq | sort %}

<div class="tag-cloud">
  {% for tag in tags %}
    <a class="tag" href="#{{ tag | url_encode }}">{{ tag }} <span class="count">{{ site.posts | where: "tags", tag | size }}</span></a>
  {% endfor %}
</div>

{% for tag in tags %}
  <section class="tag-group">
    <h2 id="{{ tag | url_encode }}">{{ tag }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
        {% if post.tags contains tag %}
          <li>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endfor %}
